#root {
 
 
  padding: 2rem;
  text-align: center;
  background-color: rgb(130, 128, 223);

  font-family: "poppins" , serif;
}

.card-img {  
 

}

.card{
  background-color: #54A0FF ;
  margin-top: 20px;
 margin-left: 10px;
 


  }

.cfooter{
  background-color: #637CE1 !important;
 
  }



.clear-sky {
  background: linear-gradient(to bottom, #87ceeb, #ffffff);
  color: #776ec5;
}

.rain {
  background: linear-gradient(to bottom, #4a4e69, #9a8c98);
  color: #fff;
}

.clouds {
  background: linear-gradient(to bottom, #b0c4de, #d3d3d3);
  color: #000;
}

.snow {
  background: linear-gradient(to bottom, #f0f8ff, #e0ffff);
  color: #000;
}

.default-weather {
  background: linear-gradient(to bottom, #ececec, #cccccc);
  color: #d03434;
}


.few-clouds {
  background: linear-gradient(
    to bottom,
    #87ceeb,
    #b0c4de
  ); 
  color: #000;
}


.scattered-clouds {
  background: linear-gradient(
    to bottom,
    #add8e6,
    #778899
  ); 
  color: #d60606;
}


.overcast-clouds {
  background: linear-gradient(
    to bottom,
    #a9a9a9,
    #696969
  ); 
  color: #fff;
}






